.rotating-box{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    perspective:1200px;
    float: left;
    margin-left: 20em;
}
.single-rb{
    width: 200px;
    animation: rotate 15s linear infinite;
    transform-style: preserve-3d;
    margin-top: 120px;
}
.single-rb img{
    height: 200px;
    width: 200px;
}
.single-rb div{
    position: absolute;
    width: 200px;
    height: 200px;
}
.front-side{
    transform: translateZ(0);
    
}
.back-side{
    transform: rotateY(180deg) translateZ(200px);
}
.left-side{
    transform: rotateY(-90deg) translateX(-200px);
    transform-origin: left;
}
.right-side{
    transform: rotateY(90deg) translateX(200px);
    transform-origin: right;
}
.top-side{
    transform: rotateX(-90deg) translateX(-200px);
    transform-origin: top;
}
.bottom-side{
    transform: rotateX(90deg) translateY(200px);
    transform-origin: bottom;
}
@keyframes rotate{
    0%{transform: rotateY(0);}
    100%{transform: rotateY(200deg);}
    
}

body{
    background: crimson;
}